<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">顺水快递</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首页", "Index", "Home")</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            下拉栏示范
                        </a>
                        <div class="dropdown-menu" style="background-color:#333333">
                            <a class="dropdown-item" href="#">唱</a><br />
                            <a class="dropdown-item" href="#">跳</a><br />
                            <a class="dropdown-item" href="#">Rap</a><br />
                        </div>
                    </li>
                    <li>@Html.ActionLink("运单追踪", "About", "Home")</li>
                    <li>@Html.ActionLink("我要寄件", "Contact", "Home")</li>
                    <li>@Html.ActionLink("站点及费用查询", "Index", "Home")</li>
                    <li>@Html.ActionLink("客服服务", "Index", "Home")</li>
                    
                </ul>
                <ul class="nav navbar-nav" style="float:right">
                    <li>
                        <a data-toggle="modal" data-target="#login" href="">
                            登录
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 这里是页脚脚脚脚</p>
        </footer>
    </div>


    <!--模态块注册与登陆-->

    <div id="login" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content" style="position:center">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-title">
                    <h1 class="text-center">登录</h1>
                </div>
                <div class="modal-body">
                    <form role="form" action="~/Home/Change">
                        <div class="form-group">
                            <label for="user_name">用户名</label>
                            <input class="form-control" type="text" id="user_name" name="username" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="">密码</label>
                            <input class="form-control" type="password" placeholder="">
                        </div>
                        <div class="form-group" style="text-align:center;margin:0 auto">
                            <button class="btn btn-primary" type="submit">登录</button>
                            <button class="btn btn-danger" data-dismiss="modal">取消</button>
                        </div>
                        <a href="" data-toggle="modal" data-dismiss="modal" data-target="#register">还没有账号？点我注册</a>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div id="register" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-title">
                    <h1 class="text-center">注册</h1>
                </div>
                <div class="modal-body">
                    <form role="form" action="">
                        <div class="form-group">
                            <label for="">用户名</label>
                            <input class="form-control" type="text" placeholder="6-15位字母或数字">
                        </div>
                        <div class="form-group">
                            <label for="">密码</label>
                            <input class="form-control" type="password" placeholder="至少6位字母或数字">
                        </div>
                        <div class="form-group">
                            <label for="">再次输入密码</label>
                            <input class="form-control" type="password" placeholder="至少6位字母或数字">
                        </div>
                        <div class="form-group">
                            <label for="">邮箱</label>
                            <input class="form-control" type="email" placeholder="例如:123@123.com">
                        </div>
                        <div class="text-right" style="text-align:center;margin:0 auto">
                            <button class="btn btn-primary" type="submit">提交</button>
                            <button class="btn btn-danger" data-dismiss="modal">取消</button>
                        </div>
                        <a href="" data-toggle="modal" data-dismiss="modal" data-target="#login">已有账号？点我登录</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)


    <script>
        $(function () {
            $(".dropdown").mouseover(function () {
                $(this).addClass("open");
            });

            $(".dropdown").mouseleave(function () {
                $(this).removeClass("open");
            })

        })
    </script>
</body>
</html>
