<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">顺水快递</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首页", "Index", "Home")</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            下拉栏示范
                        </a>
                        <div class="dropdown-menu" style="background-color:#333333">
                            <a class="dropdown-item" href="#">唱</a><br />
                            <a class="dropdown-item" href="#">跳</a><br />
                            <a class="dropdown-item" href="#">Rap</a><br />
                        </div>
                    </li>
                    <li>@Html.ActionLink("运单追踪", "About", "Home")</li>
                    <li>@Html.ActionLink("我要寄件", "Contact", "Home")</li>
                    <li>@Html.ActionLink("站点及费用查询", "Index", "Home")</li>
                    <li>@Html.ActionLink("客服服务", "Index", "Home")</li>

                </ul>
                <ul class="nav navbar-nav" style="float:right">
                    <li>
                        <a data-toggle="modal" data-target="#login" href="">
                            登录
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    <div class="site-footer">

        <div class="footer-related">

            <div class="footer-article w1100">
                <dl class="contact clearfix">
                    <dt class="fl">
                        <i class="iconfont"></i>
                    </dt>
                    <dd class="fl">
                        <p class="text">售前咨询热线</p>
                        <p class="tel">400-xxx-x000</p>
                        <a href="#">在线咨询</a>
                    </dd>
                </dl>

                <dl class="col-article">
                    <dt>寄件须知</dt>

                    <dd>
                        <a href="#">禁寄物品</a>
                    </dd>

                    <dd>
                        <a href="#">面单填写</a>
                    </dd>

                    <dd>
                        <a href="#">如何包装</a>
                    </dd>

                    <dd>
                        <a href="#">如何签收</a>
                    </dd>

                    <dd>
                        <a href="#">查询时效</a>
                    </dd>

                    <dd>
                        <a href="#">保价服务</a>
                    </dd>

                </dl>


                <dl class="col-article">
                    <dt>帮助中心</dt>

                    <dd>
                        <a href="#">新手入门</a>
                    </dd>

                    <dd>
                        <a href="#">常见问题</a>
                    </dd>

                    <dd>
                        <a href="#">网上服务协议</a>
                    </dd>

                    <dd>
                        <a href="#">安全中心</a>
                    </dd>

                </dl>

                <!--关于我们-->
                <dl class="col-article">
                    <dt>关于我们</dt>

                    <dd>
                        <a href="#">公司简介</a>
                    </dd>

                    <dd>
                        <a href="#">服务市场</a>
                    </dd>

                    <dd>
                        <a href="#">客户案例</a>
                    </dd>

                    <dd>
                        <a href="#">代理合作</a>
                    </dd>

                    <dd>
                        <a href="#">投诉建议</a>
                    </dd>

                    <dd>
                        <a href="#">站点地图</a>
                    </dd>

                </dl>
                <!--关注商之云-->
                <dl class="wx">
                    <dt>关注商之云</dt>

                    <dd>
                        <img src="../image/leftewm.png">
                    </dd>

                    <dd class="other">
                        <span>分公司：</span>
                        <a href="#">北京</a>
                        <a href="#">上海</a>
                        <a href="#">杭州</a>
                        <a href="#">深圳</a>
                    </dd>
                </dl>
            </div>

            <div class="footer-links w1100">
                <p>友情链接：</p>
                <div class="clearfix">
                    <!-- 友情链接循环开始 -->

                    <a href="https://www.tongji.edu.cn/">同济大学</a>

                    <a href="http://sse.tongji.edu.cn/">同济大学软件学院</a>

                    <a href="https://www.baidu.com/">百度一下</a>

                    <a href="https://www.taobao.com">淘宝</a>

                    <a href="https://www.jd.com">京东</a>

                    <a href="#">云物流</a>

                    <a href="#">云ERP</a>

                    <a href="#">生鲜电商</a>

                    <a href="#">农村电商</a>

                    <a href="#">母婴电商</a>

                    <a href="#">电商学院</a>

                    <a href="#">shop</a>

                    <a href="#">云电脑</a>

                    <a href="#">106短信平台</a>

                    <a href="#">网站收录</a>


                    <!-- 友情链接循环结束 -->
                </div>
            </div>

            <div class="footer-info w1100">
                <div class="info-text w1100">
                    <p class="copyright">
                        顺水速运 版权所有 <em></em>
                        <a href="#">沪ICP备12345678号</a>
                    </p>
                    <p class="company-info">上海市嘉定区黄渡理工大学#20号楼5层　</p>
                    <p class="qualified">

                    </p>
                </div>
            </div>

        </div>
    </div>


    <!--模态块注册与登陆-->

    <div id="login" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content" style="position:center">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-title">
                    <h1 class="text-center">登录</h1>
                </div>
                <div class="modal-body">
                    <form role="form" action="~/Home/Change">
                        <div class="form-group">
                            <label for="user_name">用户名</label>
                            <input class="form-control" type="text" id="user_name" name="username" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="">密码</label>
                            <input class="form-control" type="password" placeholder="">
                        </div>
                        <div class="form-group" style="text-align:center;margin:0 auto">
                            <button class="btn btn-primary" type="submit">登录</button>
                            <button class="btn btn-danger" data-dismiss="modal">取消</button>
                        </div>
                        <a href="" data-toggle="modal" data-dismiss="modal" data-target="#register">还没有账号？点我注册</a>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div id="register" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-title">
                    <h1 class="text-center">注册</h1>
                </div>
                <div class="modal-body">
                    <form role="form" action="">
                        <div class="form-group">
                            <label for="">用户名</label>
                            <input class="form-control" type="text" placeholder="6-15位字母或数字">
                        </div>
                        <div class="form-group">
                            <label for="">密码</label>
                            <input class="form-control" type="password" placeholder="至少6位字母或数字">
                        </div>
                        <div class="form-group">
                            <label for="">再次输入密码</label>
                            <input class="form-control" type="password" placeholder="至少6位字母或数字">
                        </div>
                        <div class="form-group">
                            <label for="">邮箱</label>
                            <input class="form-control" type="email" placeholder="例如:123@123.com">
                        </div>
                        <div class="text-right" style="text-align:center;margin:0 auto">
                            <button class="btn btn-primary" type="submit">提交</button>
                            <button class="btn btn-danger" data-dismiss="modal">取消</button>
                        </div>
                        <a href="" data-toggle="modal" data-dismiss="modal" data-target="#login">已有账号？点我登录</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)


    <script>
        $(function () {
            $(".dropdown").mouseover(function () {
                $(this).addClass("open");
            });

            $(".dropdown").mouseleave(function () {
                $(this).removeClass("open");
            })

        })
    </script>
</body>
</html>
